main {
  padding: 2rem;
}

.background {
  background-image: url(/images/backgrounds/background-general.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50% bottom 18%;
  width: 100%;
  color: var(--white-color);
  position: relative;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 340px;
  grid-auto-rows: minmax(150px);
  justify-content: center;
  margin-bottom: 3rem;
}

h1 {
  margin: 0.5rem;
  font-size: 2.5rem;
  text-align: center;
}

legend,
h2 {
  background-color: var(--primary-color);
  color: var(--black-color);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: initial;
  height: 2rem;
  line-height: 1.5;
  width: 320px;
}

/* FORMS */

.form-input {
  display: block;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.404);
  padding: 2px 30px;
  height: 30px;
  margin: auto;
  font-size: 1rem;
  width: 100%;
}

.fa-exclamation-triangle {
  color: rgb(221, 62, 62);
  font-size: 1rem;
  padding-right: 10px;
}

.error {
  padding: 0;
  display: none;
  font-size: 0.9rem;
  color: rgb(221, 62, 62);
}

.error-button {
  display: flex;
  z-index: 2;
  position: absolute;
  font-size: 0.9rem;
  color: white;
  background-color: red;
  height: 52px;
  width: 100%;
  line-height: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: none;
}

.radio-error {
  background-color: white;
  margin-top: 1rem;
  border: red solid 2px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.req {
  font-style: italic;
  font-size: 0.9rem;
}

.form-input::placeholder {
  width: 100%;
  margin: 1rem;
}

fieldset {
  border-style: none;
  line-height: 2;
}

legend {
  margin: auto;
}

.grid .form {
  margin: 1rem 0;
}

.checkout label {
  margin: 1rem;
  line-height: 1.5;
}

.delivery label,
.payment label {
  margin: 0;
  line-height: 2;
  text-align: left;
}

/* CONTAINERS SECTIONS */

.headline,
.contact,
.address,
.delivery,
.payment {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.041);
}

/* RADIO BUTTONS DELIVERY / PAYMENT */

.radio-wrap {
  position: relative;
  padding-top: 0.8rem;
}

.radio-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 340px;
  margin: 0;
  padding: 0;
}

.radio-text {
  padding-left: 4rem;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.hub-radio {
  position: absolute;
  top: 30%;
  left: 10%;
  height: 15px;
  width: 15px;
  background-color: rgba(238, 238, 238, 0);
  border-radius: 16px;
  border: var(--primary-color) 1.5px solid;
}

.radio-container:hover input ~ .hub-radio:after {
  background-color: #ccc;
}

.radio-container input:checked ~ .hub-radio {
  background-color: var(--primary-color);
}

/* SUMMERY */

.summery {
  display: flex;
  margin: 0.5rem 0;
  border: var(--primary-border);
  flex-direction: column;
  color: black;
}

.summery-container {
  background-color: var(--primary-color);
  width: 340px;
}

.sub-wrap {
  background-color: var(--white-color);
  margin: auto;
}

.sub-wrap h2 {
  background-color: transparent;
}

.cart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cart img {
  height: 70px;
  width: 60px;
  border-radius: 10%;
}

.cover {
  flex: 0;
  padding: 10px 0 0 10px;
}

.cover img:first-child {
  margin-bottom: 10px;
}

.price-section,
.game-text {
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.price {
  font-weight: normal;
}

.game-title {
  margin-top: 1.5rem;
}

.game-title p {
  margin: 0;
  padding: 0;
}

.game-title a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: bold;
  cursor: pointer;
}

.price-section p:nth-child(1) {
  padding-top: 9px;
}

.price-section p:nth-child(2) {
  padding-top: 27px;
}

.container-subtotal h2 {
  font-size: 1.5rem;
  padding: 16px;
  border-top: rgba(128, 128, 128, 0.644) thin solid;
  width: 280px;
  margin: auto;
  margin-top: 1rem;
}

#subtotal {
  text-align: center;
  font-size: 1.5rem;
}

.button {
  margin: auto;
  margin-bottom: -2rem;
}

/* MEDIA 700px */

@media only screen and (min-width: 700px) {
  .grid {
    padding-top: 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-auto-rows: auto;
  }

  h1 {
    font-size: 2.8rem;
    background-color: rgba(255, 255, 255, 0.068);
    padding: 10px;
  }

  /* GRID */

  .headline {
    grid-column: span 3;
    grid-row-start: 1;
  }

  .contact {
    grid-column: 1;
    grid-row: 2;
  }

  .address {
    grid-column-start: 1;
    grid-row: 3;
  }

  .delivery {
    grid-column: 2;
    grid-row: 2;
  }

  .payment {
    grid-column: 2;
    grid-row: 3;
  }

  /* RADIO BUTTONS */

  .radio-wrap {
    padding-top: 1rem;
  }

  .hub-radio {
    top: 37%;
  }

  /* CONTAINERS SECTIONS */

  .contact-field {
    line-height: 3;
  }

  .contact,
  .address,
  .delivery,
  .payment {
    margin-top: 0rem;
    background-color: rgba(255, 255, 255, 0);
  }

  .delivery,
  .payment {
    margin-left: 1rem;
  }

  .contact,
  .address {
    margin-right: 1rem;
  }

  .delivery label,
  .payment label {
    margin: 0;
    line-height: 3.4;
    text-align: left;
  }

  /* SUMMERY */

  .summery-container {
    grid-column: span 2;
    grid-row: 4;
    margin: auto;
  }
}

/* MEDIA 1100px */

@media only screen and (min-width: 1100px) {
  .grid {
    padding-top: 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-auto-rows: auto;
  }

  .background {
    height: 800px;
  }

  /* GRID */

  .contact {
    grid-column: 1;
    grid-row: 2;
  }

  .address {
    grid-column-start: 1;
    grid-row: 3;
  }

  .delivery {
    grid-column: 2;
    grid-row: 2;
  }

  .payment {
    grid-column: 2;
    grid-row: 3;
  }

  /* SUMMERY */

  .summery-container {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 515px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .cart {
    margin-top: 2rem;
  }

  .game-text,
  .price-section {
    height: 165px;
  }

  .cover img:nth-child(2) {
    margin-top: 20px;
  }

  .container-subtotal {
    padding-top: 2rem;
  }
  .container-subtotal h2 {
    padding-top: 30px;
  }

  .button {
    width: 80%;
    margin-top: 2.6rem;
  }
}
