body {
  height: 100%;
  width: 100%;
}

html {
  background: url(/images/mobile/background-pre-mobile-.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* MOBILE */

.ol-wrap {
  display: flex;
  margin: auto;
}

.breadcrumbs {
  display: inline-flex;
  list-style-type: none;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: white;
  /* align-content: center; */
  padding: 0;
  margin: 1rem auto;
}

.breadcrumbs a {
  color: var(--white-color);
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: var(--primary-color);
}

h1 {
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1.2;
  font-size: 2.4rem;
}

.fas {
  padding: 0 10px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
  margin-top: 6rem;
  max-width: 960px;
}

/* .gameinfo,
.system {
  display: none;
} */

.reviews {
  padding: 0;
  color: white;
  /* margin: auto;
  display: flex; */
  text-align: center;
}

.img-details-info-wrap {
  width: 90%;
  height: 600px;
  padding: 1rem;
  margin: auto;
}

.img-header {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.img-add {
  width: 200px;
  object-position: center;
  object-fit: cover;
  margin-top: 1rem;
}

.game-details {
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 4rem;
  border: red solid thin; */
}

/* .gameinfo {
  border: red solid thin;
} */

.flex-platform-release {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  max-width: 200px;
  margin: auto;
}

.genre,
.platform,
.requirements,
.publish {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

.platform {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.platform span {
  margin-right: 20px;
  display: none;
}

.container-error {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* .rate {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem auto 1rem auto;
  width: 280px;
} */

/* .rating {
  margin-top: 8rem;
} */

/* .ratings-box {
  display: flex;
  border-radius: 6px;
  color: white;
  align-items: center;
  width: 100%;
} */

/* .recommended {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.recommended p {
  margin: 4px 0;
} */

/* ----------- */

.hidePlat {
  display: none;
}

.plat-logo {
  width: 18px;
  margin: 5px;
}

.ps4 {
  width: 32px;
}

.vita {
  width: 90px;
}

.android {
  width: 40px;
}

.xbox {
  width: 23px;
}

.xbox-series {
  width: 30px;
}

.ios {
  width: 25px;
}

h3 {
  color: var(--primary-color);
}

/* .details-header {
  display: flex;
} */

.intro-heading {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  margin-top: 2rem;
}

.pricetag {
  font-size: 2rem;
  font-weight: 600;
}

#buy {
  margin: 3rem auto;
}

#buy-extra {
  /* margin: 3rem auto 2rem auto; */
  /* position: absolute; */
  /* left: 0;
  right: 0; */
  margin: 2rem auto;
}

.recommended-box {
  padding: 5px 10px;
  color: black;
  width: 100%;
}

.exceptional {
  background-color: lightblue;
}

.skip {
  background-color: red;
}

.meh {
  background-color: orange;
}

.recommendedrate {
  background-color: lightgreen;
}

.intro-text {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.2;
}

.intro-text p {
  padding: 0 2rem;
}

.cartName {
  margin: 0;
}

.cartInfo p:nth-child(2) {
  margin: 0;
}

/* GAME DETAILS / SYSTEM REQUIREMENTS */

.container-table {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: auto;
  color: white;
}

.container-table p {
  margin-left: 35px;
}

.container-table h2 {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.771);
  height: 3rem;
  line-height: 2.6;
  padding-left: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.648);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 2rem;
}

td {
  color: var(--primary-color);
  font-size: 0.9rem;
  padding-left: 2.2rem;
}

th {
  text-align: left;
  font-size: 0.9rem;
  padding-left: 2rem;
}

.input-illustration {
  position: absolute;
  background-image: url(/images/elements/skullers.png);
  width: 243px;
  height: 325px;
  background-repeat: no-repeat;
  background-size: contain;
}

.buy {
  position: relative;
  width: 243px;
  height: 325px;
  margin: auto;
  margin-top: 2rem;
}

.btn {
  display: block;
  position: absolute;
  top: 43%;
  left: 10%;
}

h2 {
  color: var(--primary-color);
  font-weight: normal;
  font-size: 1.6rem;
}

.reviews,
.img-sub {
  display: none;
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 2.8rem;
    position: relative;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    top: initial;
    left: initial;
    right: initial;
  }

  .intro-heading {
    text-align: left;
  }

  .intro-text p {
    padding: 0;
  }

  .img-sub {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }

  .container {
    flex-direction: row;
    margin-top: unset;
    /* margin-bottom: 11rem; */
    justify-content: center;
  }

  .gameinfo,
  .system {
    display: block;
    margin-bottom: 3rem;
  }

  .img-details-info-wrap {
    margin: 1rem 0;
    max-width: 400px;
  }

  .reviews {
    display: block;
    margin: 0 0 3rem 0;
    /* position: absolute;
    right: -90%;
    top: -4rem;
    background-color: var(--secondary-color-blue); */
  }

  .reviews span {
    color: var(--primary-color);
  }

  /* .gameinfo {
    margin-right: 5px;
  } */

  .flex-platform-release {
    /* justify-content: left; */
    justify-content: center;
    width: 100%;
    margin: 0;
    display: block;
  }

  .platform span {
    display: initial;
  }

  /* .platform {
    justify-content: center;
  } */

  .intro-text {
    text-align: left;
  }

  /* GAME DETAILS / SYSTEM REQUIREMENTS */

  .table-wrap {
    display: flex;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    /* margin-bottom: 5rem; */
  }

  table {
    height: 78%;
  }

  .container-table {
    display: flex;
    margin: 0;
  }

  .details {
    padding-right: 10px;
  }

  .ol-wrap {
    margin: 2rem 0 1rem 2rem;
    display: block;
  }

}

@media only screen and (min-width: 890px) {
  .container {
    margin-top: 1rem;
    /* margin-bottom: 13rem; */
  }

  /* .rate {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
    display: none;
  }

  .ratings-box {
    display: flex;
    border-radius: 6px;
    color: white;
    align-items: center;
    width: 100%;
  }

  .recommended {
    display: flex;
    width: 100%;
    flex-direction: row;
  } */

  .breadcrumbs {
    margin-left: 1.4rem;
  }

  .platform {
    justify-content: left;
  }

  .intro-heading {
    width: 50%;
    padding: 0 3rem 0 1.5rem;
    text-align: left;
  }

  #buy-extra {
    position: relative;
    /* margin: 1rem 0; */
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 1050px) {
  h1 {
    font-size: 3rem;
    text-align: left;
    /* margin-top: -1.8rem; */
  }

  /* .container {
    margin-bottom: unset;
  } */

  .breadcrumbs {
    margin-left: 10%;
  }

  .img-details-info-wrap {
    /* width: 30%; */
    /* height: 1000px; */
    padding: 1rem;
  }

  /* .img-header {
    height: 45%;
  } */

  /* .flex-platform-release {
    flex-direction: row;
  } */

  /* #buy-extra {
    display: none;
  } */

  .rating {
    margin-top: 1rem;
  }

  .intro-heading {
    width: 70%;
    max-width: 800px;
  }
}