main {
  background-image: url(/images/backgrounds/background-general.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50% bottom 18%;
  height: 570px;
  width: 100%;
  color: white;
  text-align: center;
}

/* SLOGAN */

.slogan {
  border-bottom: rgb(252, 160, 39) solid 2px;
  max-width: 300px;
  display: inline-flex;
  padding: 0 0 1rem 0;
  margin: 3rem 0 0 0;
  justify-content: center;
}

.icons {
  padding: 0;
  margin: 1rem;
}

.slogan img {
  height: 2rem;
  margin: 0.5rem;
}

/* SELL TEXT */

.sell-guide {
  max-width: 600px;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 0;
}

h1 {
  color: rgb(214, 136, 33);
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 1rem 3rem 0 3rem;
}

h2 {
  text-transform: initial;
  font-weight: lighter;
  padding: 1rem 4rem 0 4rem;
  max-width: 600px;
  font-size: 1.6rem;
  margin: auto;
  margin-bottom: 2rem;
}

/* SEARCH SECTION */

.search-section h2 {
  font-weight: lighter;
  font-size: 1.3rem;
  line-height: 4;
  max-width: 14rem;
  display: none;
}

#search-sell {
  background-color: rgba(255, 255, 255, 0);
  border: var(--primary-border);
  border-radius: 8px;
  height: 35px;
  font-size: 1rem;
  width: 200px;
  text-align: center;
}

#search-sell::placeholder {
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  background-image: url(/images/icons/search-white.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 15px;
  color: var(--white-color);
  text-align: center;
}

input[type="search-sell"] {
  color: white;
}

#search-sell:hover {
  background-color: rgba(238, 234, 228, 0.123);
  padding: 0 1rem;
}

/* MEDIA */

@media only screen and (min-width: 900px) {
  .container {
    position: relative;
    display: flex;
    height: 320px;
    justify-content: center;
    padding: 60px;
  }

  .border {
    position: absolute;
    border: rgb(252, 160, 39) 2px solid;
    max-width: 800px;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 2rem;
  }

  .slogan {
    order: 2;
  }

  .sell-guide {
    padding-right: 2rem;
  }

  h1,
  h2 {
    text-align: left;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .icons {
    padding: 10px;
    margin: 0;
  }

  .slogan {
    border-bottom: none;
    margin-top: 1rem;
    padding-left: 30px;
  }

  .search-section h2 {
    display: initial;
  }

  #search-sell {
    width: 350px;
  }
}